#Question 1

In [1]:
a=5
b=5.0
c=5 > 1
d='5'
e=5 * 2
f='5' * 2
g='5' + '2'
h=5 / 2
i=5%2
j={5, 2, 1}
k=5==3
pi=3.141592653589793238
print("Value in a "+ str(a) +" belongs to datatype",type(a)) #adding numbers to strings doesnâ€™t work. So explicitly converted the number to string first.
print("Value in b "+ str(b) +" belongs to datatype",type(b))
print("Value in c "+ str(c) +" belongs to datatype",type(c))
print("Value in d "+ str(d) +" belongs to datatype",type(d))
print("Value in e "+ str(e) +" belongs to datatype",type(e))
print("Value in f "+ str(f) +" belongs to datatype",type(f))
print("Value in g "+ str(g) +" belongs to datatype",type(g))
print("Value in h "+ str(h) +" belongs to datatype",type(h))
print("Value in i "+ str(i) +" belongs to datatype",type(i))
print("Value in j "+ str(j) +" belongs to datatype",type(j))
print("Value in k "+ str(k) +" belongs to datatype",type(k))
print("Value in pi "+ str(pi) +" belongs to datatype",type(pi))

Value in a 5 belongs to datatype <class 'int'>
Value in b 5.0 belongs to datatype <class 'float'>
Value in c True belongs to datatype <class 'bool'>
Value in d 5 belongs to datatype <class 'str'>
Value in e 10 belongs to datatype <class 'int'>
Value in f 55 belongs to datatype <class 'str'>
Value in g 52 belongs to datatype <class 'str'>
Value in h 2.5 belongs to datatype <class 'float'>
Value in i 1 belongs to datatype <class 'int'>
Value in j {1, 2, 5} belongs to datatype <class 'set'>
Value in k False belongs to datatype <class 'bool'>
Value in pi 3.141592653589793 belongs to datatype <class 'float'>

#Question 2

In [2]:
#a
a="Supercalifragilisticexpialidocious" 
b="ice" 
c="Honorificabilitudinitatibus" 
d="Bababadalgharaghtakamminarronnkonn" 
print(len(a))
#b
if "ice" in "Supercalifragilisticexpialidocious": 
    print("ice is a substring") 
else: 
    print("ice is not a substring")
#c
Total_length= [len(a), len(b), len(c)]
Highest_length= max(Total_length)
longestword=''
if Highest_length==len(a):
    longestword=a
elif Highest_length==len(b):
    longestword=b
else:
    longestword=c
print(longestword)
#d
Composer_names=['Berlioz','Borodin','Brian','Bartok','Bellini','Buxtehude','Bernstein']
min(Composer_names)
max(Composer_names)
print(min(Composer_names) + ' is the composer name that comes first in dictionary')
print(max(Composer_names) + ' is the composer name that comes last in dictionary')

34
ice is a substring
Supercalifragilisticexpialidocious
Bartok is the composer name that comes first in dictionary
Buxtehude is the composer name that comes last in dictionary

#Question 3

In [3]:
import math
X=float(input('Enter the length of side A: '))
Y=float(input('Enter the length of side B: '))
Z=float(input('Enter the length of side C: '))
S=(X+Y+Z)/2
AreaofTriangle = math.sqrt(S*(S-X)*(S-Y)*(S-Z))
print('Area of the given Triangle is:' +str(AreaofTriangle))

Enter the length of side A: 2
Enter the length of side B: 2
Enter the length of side C: 2
Area of the given Triangle is:1.7320508075688772

#Question 4

In [4]:
Elements=[25, 47, 42, 56, 32]
Even_elements=[]
Odd_elements=[]
for i in Elements:
    if i%2 == 0:
        Even_elements.append(i)
    elif i%2 !=0:
        Odd_elements.append(i)
print('Even elements in the array are: ' +str(Even_elements))
print('Odd elements in tha array are: ' +str(Odd_elements))

Even elements in the array are: [42, 56, 32]
Odd elements in tha array are: [25, 47]

#Question 5

In [5]:
#Solution to Question 5.a)

def inside(x, y, x1, y1, x2, y2):
    if((x2>x>x1)and (y2>y>y1)):
        return True 
    else:
        return False
inside(1, 1, 0, 0, 2, 3)

True

In [6]:
#Solution to Question 5.b)

def inside(x, y, x1, y1, x2, y2):
    if((x2>x>x1)and (y2>y>y1)):
        return True 
    else:
        return False
         
if (inside(1,1,0.3,0.5,1.1,0.7) and inside(1,1,0.5,0.2,1.1,2)):
    print("lies inside both")
else:
    print("lies outside both")
inside(-1, -1, 0, 0, 2, 3)

lies outside both

False

#Question 6

In [9]:
def pig(word):
    word = word.lower()
    vowels = ['a','e','i','o','u']
    if word[0] in vowels:
        pigString = word + 'way'
    else:
        pigString = word[1:] + word[0] + 'ay'

    return pigString;
pig('happy')

'appyhay'

#Question 7

In [10]:
f=open('bloodtype1.txt','w+')
f.write('AB AB B O A A AB O AB A O O A A A O O O AB O A A A A A AB AB A AB O AB O A O O O AB O AB AB AB A A O')
f.close()

def bldcount(content):
    nAB=0
    nB=0
    nO=0
    nA=0
    list1= list(content.split(" "))
    for item in list1:
        if item =="A":
            nA=nA+1
        elif item =="B":
            nB=nB+1
        elif item =="AB":
            nAB=nAB+1
        elif item == "O":
            nO = nO+1
    
    print("There are " + str(nA) + " patients who has blood group type A")
    print("There are " + str(nB) + " patients who has blood group type B")
    print("There are " + str(nAB) + " patients who has blood group type AB")        
    print("There are " + str(nO) + " patients who has blood group type O")
        
with open('bloodtype1.txt','r') as thefile:
    content=thefile.read()

bldcount(content)

There are 15 patients who has blood group type A
There are 1 patients who has blood group type B
There are 13 patients who has blood group type AB
There are 15 patients who has blood group type O

#Question 8

In [36]:
def curconv(country_code,amount):
    with open('currencies.txt', 'r+') as f:
        lines = f.read().splitlines()
        for line in lines:
            listWords = line.split(" ")
            if(listWords[0] == country_code):
                us_dollar = float(amount) * float(listWords[1])
                return us_dollar
curconv("JPY", 100)

1.241401

#Question 9 solutions

In [34]:
x= 6 + 'a'
print(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
my_list= [0, 1, 2, 3, 4, 5,6, 7, 8, 9]
print(my_list[12])

IndexError: list index out of range

In [14]:
import math
def sqrt(z):
    print(math.sqrt(z))

sqrt(-1.0)

ValueError: math domain error

In [21]:
n='Apple'
print(z)

NameError: name 'z' is not defined

In [22]:
f=open('alphabets.txt','r')
print ("There are 26 letters in the alphabet")

FileNotFoundError: [Errno 2] No such file or directory: 'alphabets.txt'

#Question 10 solutions

In [23]:
string1 = "The quick red fox got bored and went home."

frequency = {}

for i in string1:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
        
print ("Count of all characters in string is :\n " +  str(frequency))

Count of all characters in string is :
 {'T': 1, 'h': 2, 'e': 5, ' ': 8, 'q': 1, 'u': 1, 'i': 1, 'c': 1, 'k': 1, 'r': 2, 'd': 3, 'f': 1, 'o': 4, 'x': 1, 'g': 1, 't': 2, 'b': 1, 'a': 1, 'n': 2, 'w': 1, 'm': 1, '.': 1}

In [24]:
string2 ="apple"

frequencies = {}

for i in string2:
    if i in frequencies:
        frequencies[i] += 1
    else:
        frequencies[i] = 1
print ("Count of all characters in string is :\n " +  str(frequencies))

Count of all characters in string is :
 {'a': 1, 'p': 2, 'l': 1, 'e': 1}